/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

th {
	border: 1px solid rgb(55, 55, 55);
	text-transform: uppercase;
	padding: 2px;
}
td {
	text-align: center;
	height: 80px;
	border: 1px solid rgb(55, 55, 55);
}
